
@{
    ViewBag.Title = "Page1";
}

<h2>Page1</h2>
<h3> Welcome to Page 1 of using MVC</h3>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    <style type="text/css">
        #myheading {
            background-color: #0094ff;
        }
    </style>
    <script type="text/javascript">
        function fun1() {
            alert("Welcome from Javascript");
        }
        fun1();
    </script>

    <!-- import jquery library file -->
    <script src="~/Scripts/jquery-3.4.1.js" type="text/javascript"></script>

    <!-- jquery code -->
    <script type="text/javascript">
        $(function () {
            alert("Message from jQuery");
        });
    </script>
</head>
<body>
    <div>
        <h1 id="myheading">Hello, World!</h1>
        <p>This is paragraph</p>
    </div>
</body>

