
@{
    ViewBag.Title = "Page3";
}

<h2>Page3</h2>
Customer ID: @ViewBag.Currentcustomer.id
<br />
Customer Name: @ViewBag.Currentcustomer.Name
<br />
Customer Name: @ViewBag.Currentcustomer.email
<br/>


